<section class="mt-16">
  <h2 class="text-center text-2xl font-semibold">
    Register to Access Your ERP Dashboard
  </h2>
  <p class="text-center text-sm text-gray-500 dark:text-gray-300 mt-2">
    Fill in your details below to get started.
  </p>

  <form
    (ngSubmit)="registerSubmition()"
    [formGroup]="registerUser"
    class="w-[70%] mt-8 mx-auto bg-[var(--form-bg)] rounded-2xl px-16 py-10"
  >
    <!-- name -->
    <div class="mb-5">
      <label
        for="name"
        class="block mb-2 text-[13px] font-medium text-gray-900 dark:text-white"
        >Your name</label
      >
      <input
        formControlName="name"
        type="text"
        id="name"
        class="input:-webkit-autofill bg-[var(--inputs-bg)] text-[14px] rounded-lg w-full focus:border focus:ring-0 focus:border-gray-600 border-0 placeholder:text-neutral-700 placeholder:text-[12px] py-3"
        placeholder="please insert your fullname"
        required
      />
    </div>
    <!-- email -->
    <div class="mb-5">
      <label
        for="email"
        class="block mb-2 text-[13px] font-medium text-gray-900 dark:text-white"
        >Your email</label
      >
      <input
        formControlName="email"
        type="email"
        id="email"
        class="input:-webkit-autofill bg-[var(--inputs-bg)] text-[14px] rounded-lg w-full focus:border focus:ring-0 focus:border-gray-600 border-0 placeholder:text-neutral-700 placeholder:text-[12px] py-3"
        placeholder="please insert your valid email"
        required
      />
    </div>
    <!-- phone -->
    <div class="mb-5">
      <label
        for="phone"
        class="block mb-2 text-[13px] font-medium text-gray-900 dark:text-white"
        >Your Phone</label
      >
      <input
        formControlName="phone"
        type="tel"
        id="phone"
        class="input:-webkit-autofill bg-[var(--inputs-bg)] text-[14px] rounded-lg w-full focus:border focus:ring-0 focus:border-gray-600 border-0 placeholder:text-neutral-700 placeholder:text-[12px] py-3"
        placeholder="please insert your phone number"
        required
      />
    </div>
    <!-- =============== flex -->
    <div class="grid grid-cols-2 gap-2">
      <!-- password -->
      <div class="mb-5">
        <label
          for="password"
          class="block mb-2 text-[13px] font-medium text-gray-900 dark:text-white"
          >Your password</label
        >
        <input
          formControlName="password"
          type="password"
          id="password"
          class="input:-webkit-autofill bg-[var(--inputs-bg)] text-[14px] rounded-lg w-full focus:border focus:ring-0 focus:border-gray-600 border-0 placeholder:text-neutral-700 placeholder:text-[12px] py-3"
          placeholder="please insert a strong password"
          required
        />
      </div>
      <!-- confirm password -->
      <div class="mb-5">
        <label
          for="rePassword"
          class="block mb-2 text-[13px] font-medium text-gray-900 dark:text-white"
          >Your Password again!</label
        >
        <input
          formControlName="rePassword"
          type="password"
          id="rePassword"
          class="input:-webkit-autofill bg-[var(--inputs-bg)] text-[14px] rounded-lg w-full focus:border focus:ring-0 focus:border-gray-600 border-0 placeholder:text-neutral-700 placeholder:text-[12px] py-3"
          placeholder="please confirm your password"
          required
        />
      </div>
    </div>
    <!-- role -->
    <div class="mb-5 w-[50%]">
      <label
        for="role"
        class="block mb-2 text-[13px] font-medium text-gray-900 dark:text-white"
        >Your Role
      </label>
      <select
        id="role"
        required
        formControlName="role"
        class="input:-webkit-autofill bg-[var(--inputs-bg)] text-[14px] rounded-lg w-full focus:border focus:ring-0 focus:border-gray-600 border-0 placeholder:text-neutral-700 placeholder:text-[12px] py-3"
      >
        <option selected>Select a role</option>
        <option value="Admin">Admin</option>
        <option value="User">User</option>
        <option value="Seller">Seller</option>
      </select>
    </div>
    <!-- ======================================================== -->
    <button
      type="submit"
      class="mt-10 btn-register z-0 border border-zinc-700 py-2 px-10 rounded-xl text-[14px] cursor-pointer relative"
    >
      Register!
    </button>
  </form>
</section>
