@import "tailwindcss";
@import "flowbite/src/themes/default";
@import "primeicons/primeicons.css";
@import "../node_modules/ngx-toastr/toastr.css";

@plugin "flowbite/plugin";
@source "../node_modules/flowbite";

:root {
  --nav-bg: #1a1c20;
  --nav-hover: #2a2c31;
  --body-bg: #1f2125;
  --cart-bg: #27292d;
  /* --shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px,
    rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px,
    rgba(240, 46, 170, 0.05) 25px 25px; */
  --shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  --transition: all 0.4s;
  --box-hover: #18181b;
  --box-color: #101012;
}

@layer utilities {
  input:-webkit-autofill {
    @apply bg-[var(--inputs-bg)] text-white;
    transition: background-color 5000s ease-in-out 0s;
  }
  .btn-register::before {
    content: "Register a new account!";
    position: absolute;
    top: 0%;
    opacity: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
    font-size: 12px;

    transition: all 0.1s;
    /* height: 0; */
    background-color: black;
    color: white;
    padding: 0.5rem 1.5rem;
    border-radius: 0.5rem;
    white-space: nowrap;
  }
  .btn-register:hover:before {
    opacity: 1;
    top: -120%;
  }
  .btn-login::before {
    content: "login a new account!";
    position: absolute;
    top: 0%;
    opacity: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
    font-size: 12px;

    transition: all 0.1s;
    /* height: 0; */
    background-color: black;
    color: white;
    padding: 0.5rem 1.5rem;
    border-radius: 0.5rem;
    white-space: nowrap;
  }
  .btn-login:hover:before {
    opacity: 1;
    top: -120%;
  }
}

html,
body {
  height: 100%;
  background-color: var(--body-bg);
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.layer {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #00000076;
  z-index: 99999;
  overflow: auto;
}
.layer.show {
  display: flex;
}
.layer.hide {
  display: none;
}
/* Slide In من اليمين */
@keyframes slideIn {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

/* Slide Out لليمين */
@keyframes slideOut {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(100%);
    opacity: 0;
  }
}

.section-visible {
  animation: slideIn 0.3s forwards;
}

.section-hidden {
  animation: slideOut 0.3s forwards;
}
.custom-toast {
  font-size: 13px;
  padding: 5px 15px;
  border: none;
  border-radius: 4px !important;
  margin: 5px 0;
  z-index: 9999;
}
.toast-error {
  box-shadow: 0 4px 12px #8b000074; /* darkred */
  background-color: #8b0000 !important;
  background-image: none;
}
.custom-toast::before,
.custom-toast::after {
  display: none !important;
}
.custom-sucess-toast {
  font-size: 13px;
  padding: 5px 15px;
  border: none;
  z-index: 9999;
  border-radius: 4px !important;
  margin: 5px 0;
  box-shadow: 0 4px 12px #05160c74;
  background-color: #05160c74 !important;
}
/* ====================== */
button {
  cursor: pointer;
}
.dropdown-menu {
  top: 200%;
  left: 0;
  opacity: 0;
  transition: all 0.5s;
  z-index: -1;
}
.show-dropdown {
  z-index: 999;
  transition: all 0.5s;
  height: fit-content;
  top: 130%;
  opacity: 1;
}
